[submodule "gui/extern/glfw"]
	path = gui/extern/glfw
	url = https://github.com/SimonMaracine/glfw
[submodule "gui/extern/imgui"]
	path = gui/extern/imgui
	url = https://github.com/SimonMaracine/imgui
